#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // R0 
                &mo 1           &kp KP_SLASH    &kp KP_ASTERISK  &kp KP_MINUS
                // R1 
                &kp KP_N7       &kp KP_N8       &kp KP_N9        &none
                // R2 
                &kp KP_N4       &kp KP_N5       &kp KP_N6        &kp KP_PLUS
                // R3 
                &kp KP_N1       &kp KP_N2       &kp KP_N3        &none
                // R4 
                &kp KP_N0       &none           &kp KP_DOT      &kp KP_ENTER
                // R5
                &none           &none           &none           &kp KP_ENTER // Encoder switch
            >;
            encoder_bindings = <&inc_kp &kp VOL_UP>, <&dec_kp &kp VOL_DOWN>;
        };

        bt_layer {
            bindings = <
                // R0
                &none           &none           &none            &bootloader
                // R1
                &none           &none           &none            &none
                // R2
                &none           &none           &bt BT_CLR       &none
                // R3
                &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2     &none
                // R4
                &none           &none           &none           &none
                // R5
                &none           &none           &none           &none // Encoder switch
            >;
            // ...no encoder bindings in bt_layer...
        };
    };
};
